      <li>
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}" class="post-teaser">
          {% if post.image.teaser %}
        <img src="{{ site.url }}/images/{{ post.image.teaser }}" alt="teaser" itemprop="image">
      {% else %}
        <img src="{{ site.url }}/images/{{ site.teaser }}" alt="teaser" itemprop="image">
      {% endif %}
          <div class="caption">
            <div class="blur"></div>
            <div class="caption-text">
              <h2 class="post-title" itemprop="name">
                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
              </h2>
              {% if post.date %}
                <p class="entry-date date published">
                <time datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ post.date | date: "%Y-%m-%d" }}</time>
                </p>
         {% endif %} 
            </div>
          </div>
        </a>
      </li>